@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
  --main-white: #EFF6EE;
  --main-dark: #000807;
  --main-blue: #C1FFF2;
}

html {
    font-family: "Aldrich";
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    line-height: 1.5;
    color: var(--main-white);
    background-color: var(--main-dark);
}

.dark body {
  background-color: var(--main-dark);
  color: #fff;
}

.dark .nav-links a {
  color: var(--main-white);
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.button-27 {
  font-family: "Aldrich";
  background-color: #9d4edd;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  max-width: 200px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.grid-layout {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.intro {
  padding-top: 100px;
}


.skills {
  display: flex;
  justify-content: space-between;
}

.skill {
  text-align: center;
}

.skill-name {          
  background: linear-gradient(to left, #9D4EDD, #f9dd94 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

a{
  text-decoration: none;
  color: #0074D9;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #9D4EDD;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}