---
import NavItem from "./Nav-item.astro";
---

<div class="nav-links">
    <NavItem name="Home" link="/"/>
    <NavItem name="About" link="/about"/>
    <NavItem name="Blog" link="/blog" />
    <NavItem name="Tags" link="/tags" />
</div>